@import 'variables';

.blogContent {

  @media only screen and (min-width: $mobile-width ) {
    & {
      padding-right: 40px;
    }
  }

  h1 {
    font-family: 'GenJyuuGothicMonoHeavy', "Times New Roman", Times;

    @media only screen and (max-width: 900px) {
    & {
      flex-direction: column;
      padding: 20px 5px 0 5px;

    }
  }
  }
  p {
      margin-top: 2em;
      font-family: 'GenJyuuGothicMonoMedium', "Times New Roman", Times;
      font-size: 1em;
      line-height: 1.5em;
  }
  li {
      line-height: 1.5em;
  }
  pre {
    width: 100%;
    display: inline-block;
    overflow-x: scroll;
  }

  ul {
    width: 100%;
  }

  a,
  a:active {
    text-decoration: underline;
    color: #277BC0
  }
  img {
    width: 100%;
  }

}