.header_container {
  width: 100%;
  text-align: center;
  padding: 50px 1em;
}

.title {
  font-family: 'GenJyuuGothicMonoHeavy', "Times New Roman", Times;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.description {
  font-family: 'GenJyuuGothicMonoMedium', "Times New Roman", Times;
  line-height: 1.5;
  font-size: 1.5rem;
}

